# The contents of these folders are for local repos. To reduce file size, you can download them yourself.
repos/*
variables/.service-secrets.json
run_toolbox.*
.setup-complete
__pycache__/
.venv
.whats-next.md
.git-tips
tests/*
docs/
__init__.py
tests/
github
github.pub
